<ul class="list-group">
    <app-list-element  *ngFor="let appareil of appareils; let i = index"
                   [appareilName]="appareil.name"
									 [index]="i"
                   [appareilStatus]="appareil.urgentStatus"
									 [createdAt]="appareil.createdAt"></app-list-element>
		<li class="list-group-item todo">
			<input type="text" class="form-control" [(ngModel)]="task">
			<button (click)="newTask()">+</button>
		</li>
</ul>
<!-- <button class="btn btn-success" (click)="onAllumer()">Tout allumer</button> -->
<!-- <button class="btn btn-danger" (click)="onEteindre()">Tout éteindre</button> -->
