<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Just Chatting</h2>
			<div class="container">
      	<ul class="list-group">
        	<app-message  *ngFor="let message of messages"
											[author]="message.author"
											[reaction]="message.reaction"
											[created_at]="message.created_at"
                      [content]="message.content"></app-message>
      	</ul>
			</div>
			<input type="text" class="form-control" [(ngModel)]="currentMessage">
			<button [disabled]="!isAuth" >Envoyer</button>
    </div>
  </div>
</div>
