.dark-background {
	--background: #2F2F2F;
	background-color: #2F2F2F;
}

ion-input {
	margin: auto;
	height: 43px;
	padding: 0 !important;
	input {
		text-align: center;
	}
}

.title-text {
	position: relative;
	color: white;
	font-size: 26px;
	left: 10%;
}

.title-line {
	background-color: #FFF !important;
	position: relative;
	left: 10%;
}

.form {
  text-align: center;
	width: 80%;
	margin: auto;
}

.control-group {
  margin-bottom: 8px;
	text-align: center;
}

.input-login {
  text-align: center;
  color: #2F2F2F;
  background-color: #FFF;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px 0;
  width: 100%;
}

.password-view {
	float: right;
	position: relative;
	font-size: 20px;
	margin: 12px 7px 0 -30px;
}

.btn {
	background-color: #872525;
  border: 2px solid transparent;
  font-size: 16px;
  padding: 10px 0;
  border-radius: 1px;
  display: block;
  width: 60%;
  margin: 8px auto;
  color: #FFF;
	z-index: 10;
	cursor: pointer;
}

button:disabled {
	opacity: 0.5;
	cursor: default;
}
